<div class="social_icons">
	<a class="social" href="https://www.facebook.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('FBIconWhite.png') %>" height="15" width="15"></a>
    <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('IGIconWhite.png') %>" height="15" width="15"></a>
</div>

<div class="main-page-wrap">

	<div class="title" style="display: none">
		<div class="stamp"></div>
		<div class="menu main_menu">
			<ul>
				<li><%= link_to 'SHOP', shop_index_path %></li>
				<li><%= link_to 'ABOUT', about_index_path %></li>
				<li><%= link_to 'LOOKBOOK', lookbook_index_path %></li>
				<li><%= link_to 'GALLERY', gallery_index_path %></li>
			</ul>
		</div>
	</div>

</div>