<!-- The required Stripe lib -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- jQuery lib -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_live_ITbKAUMC7tG4HfeY3gY5lv85');
  // Stripe.setPublishableKey('pk_test_qIQOZUyxbefJLS3XG7fXMnXa');

  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');
    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      $form.find('button').prop('disabled', true);
      $('button').addClass('loading');
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and re-submit
      $form.get(0).submit();
    }
  };

  jQuery(function($) {
    $('#payment-form').submit(function(e) {
      var $form = $(this);
      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);
      Stripe.card.createToken($form, stripeResponseHandler);
      // Prevent the form from submitting with the default action
      return false;
    });
  });
</script>

<%= link_to root_path do %>
  <div class="cart_home_icon"></div>
<% end %>

<div class="checkout_container">
  <div class="pay_ship_info">Payment Information</div>
  <div class="payment_method">
    <ul>
      <li>Pay with Card</li>
      <!-- <li>Pay with PayPal</li> -->
    </ul>
  </div>
  <div class="card_form">
    <form action="" method="POST" id="payment-form">
      <div class="card_number">
        <label>
          <span class="card_span card_cat_title">Card Number</span>
          <div class="accepted_cards_icon"></div>
          <input class="input_field input_2" type="text" size="20" data-stripe="number"/>
        </label>
      </div>
      <div class="card_exp">
        <label>
          <span class="card_span card_cat_title">Exp. Date</span>
          <input class="input_field exp_1" type="text" size="2" data-stripe="exp-month"/>
        </label>
        <input class="input_field exp_2" type="text" size="4" data-stripe="exp-year"/>
      </div>
      <div class="card_cvc">
        <label>
          <span class="card_span card_cat_title">CVC</span>
          <span class="card_span cvv_icon"></span>
          <input class="input_field" type="text" size="4" data-stripe="cvc"/>
        </label>
      </div>
      <div class="card_cart_total">
        <label>
          <span class="card_span card_cat_title">Cart Total</span>
          <span class="card_pulled_val">$<%= @price %></span>
        </label>
      </div>
      <div class="card_shipping">
        <label>
          <span class="card_span card_cat_title">Shipping</span>
          <span class="card_pulled_val">$<%= @shipping_price %> (USPS First-Class Mail)</span>
        </label>
      </div>
      <div class="card_sales_tax">
        <label>
          <span class="card_span card_cat_title">Sales Tax</span>
          <span class="card_pulled_val">$<%= @tax %></span>
        </label>
      </div>
      <div class="card_order_total">
        <label>
          <span class="card_span card_cat_title">Order Total</span>
          <span class="card_pulled_val">$<%= @display_total %></span>
        </label>
      </div>
      <div class="card_forward_btns">
        <!-- <div class="stripe_icon"></div> -->
        <ul>
          <li>
            <input type="hidden" name="order_total" value="<%= @order_total %>"/>
            <button class="submit_payment_btn" type="submit">Submit Payment</button>
          </li>
          <li>
            <span class="payment-errors"></span>
          </li>
        </ul>
      </div>
      <div class="stripe_icon"></div>
    </form>
  </div>
</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");
fbq('track', 'AddPaymentInfo');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->