CONTACTS...<br>
<% @contacts.each do |contact| %>
	<strong><%= contact.email %></strong><br>
	<%= contact.name %>
	<ul style="font-size: 10px">
		<% contact.messages.each do |message| %>
			<li><%= message.content %></li>
		<% end %>
		<br>
	</ul>
<% end %>

ADDRESSES...<br>
<ul style="font-size: 10px">
<% @addresses.each do |address| %>
	<li><%= address.name %></li>
	<li><%= address.street1 %></li>
	<li><%= address.street2 %></li>
	<li><%= address.city %></li>
	<li><%= address.state %></li>
	<li><%= address.zip %></li>
	<li><%= address.country %></li>
	<li><%= address.phone %></li>
	<li><%= address.email %></li>
	<br>
<% end %>
</ul>