<%= link_to root_path do %>
<div class="upper_left_icon"></div>
<% end %>

<div class="menu">
	<span><%= link_to 'SHOP', shop_index_path %></span>
	<span><%= link_to 'ABOUT', about_index_path %></span>
	<span><%= link_to 'LOOKBOOK', lookbook_index_path %></span>
  	<span><%= link_to 'CONTACT', contact_index_path %></span>
</div>

<div class="shop-page-wrap">
		<div class="description_container" style="display: none">
			<div class="description_title"></div>
			<div class="description">
				<span class="isan_title">The Isan Beaded Bracelet Collection</span>
				<span class="isan_description">Inspired by family tradition. Designed for our approach to life. 6mm semi-precious gemstones and a single 14K gold filled bead - a reminder to embrace the breaks, gaps, and disruptions in life's path. Handcrafted in Brooklyn, NY, USA.<span>
			</div>
			<a href="#middle_half"><div class="shop_now">Shop Now</div></a>
		</div>
</div>

<div id="middle_half" class="middle-page-wrap">

	<!-- Left and right arrows -->
	<a href="#"><div class="right_arrow" style="display: none"></div></a>
	<a href="#"><div class="left_arrow" style="display: none"></div></a>

	<!-- Indicators -->
    <ol class="navigation">
        <li data="shop_1" class="active"></li>
        <li data="shop_2"></li>
        <li data="shop_3"></li>
        <li data="shop_4"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="shop_1 active" style="background-image: url('/images/shop_gallery/shop_1.jpg')"></div>
    <div class="shop_2" style="background-image: url('/images/shop_gallery/shop_2.jpg')"></div>
    <div class="shop_3" style="background-image: url('/images/shop_gallery/shop_3.jpg')"></div>
    <div class="shop_4" style="background-image: url('/images/shop_gallery/shop_4.jpg')"></div>

	<!-- <a href="#bottom_half" class="scroll"><div class="middle_click_area"></div></a> -->
	<a href="#move_right"><div class="middle_right_area"></div></a>
	<a href="#move_left"><div class="middle_left_area"></div></a>

	<div class="shop_bar">

		<%= form_for(:cart, url: cart_index_path) do |f| %>
			<div class="options">
				<ul>
					<li>
						<select name="color" class="dropdown_btn dp_color">
							<option value="">Color</option>
							<option value="White">White</option>
							<option value="Black">Black</option>
						</select>
					</li>
					<li>
						<select name="size" class="dropdown_btn dp_size">
							<option value="">Size</option>
							<option value='S - 6.5"'>S - 6.5"</option>
							<option value='M - 7.0"'>M - 7.0"</option>
							<option value='L - 7.5"'>L - 7.5"</option>
						</select>
					</li>
					<li>
						<select name="amount" class="dropdown_btn dp_qty">
							<option value="">Qty</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option  value="4">4</option>
							<option value="5">5</option>
						</select>
					</li>
					<li>
						<li class="options_extra product_specs"><a href="#">Product Specs</a></li>
						<li class="options_extra size_chart"><a href="#">Size Chart</a></li>
						<li class="options_extra shipping_returns"><%= link_to 'Shipping & Returns', shipping_index_path %></li>
					</li>
				</ul>
			</div>
			<% if session[:error] %>
				<span class="cart_error"><%= session[:error] %></span>
				<% session.delete(:error) %>
			<% end %>
			<%= f.submit "Add To Cart", {class: "add_to_cart"} %>
		<% end %>

<!-- 		<div class="options_extra">
			<ul>
				<li class="product_specs"><a href="#">Product Specs</a></li>
				<li class="size_chart"><a href="#">Size Chart</a></li>
				<li class="shipping_returns"><%= link_to 'Shipping & Returns', shipping_index_path %></li>
			</ul>
		</div> -->

		<div class="product_specs_pop" style="display: none">
			<span class="product_specs_x">x</span>
			<ul>
				<li>- Handcrafted in Brooklyn, NY, USA</li>
				<li>- 6mm White Howlite/Matte Black Onyx stones</li>
				<li>- 6mm 14K gold filled bead</li>
				<li>- Packaged in our signature black box with a tissue paper insert </li>
				<li>- Individually hand stamped with a wax seal</li>
			</ul>
		</div>

		<div class="size_chart_pop" style="display: none">
			<span class="size_chart_x">x</span>
			<ul>
				<li>Small (6.5”) - Fits smaller men’s/average women’s wrists</li>
				<li>Medium (7”) - Fits the average man</li>
				<li>Large (7.5”) - Fits larger men’s wrists</li>
			</ul>
		</div>

		<span class="total" value="50">$50</span>

		<%= link_to cart_index_path, class: 'remove_underline' do %>
			<div class="checkout_tag">Checkout</div>
		<% end %>
			<div class="checkout_count"><%= @amount %></div>
		
	</div>

</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");
fbq('track', 'ViewContent');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->