<div class="menu">
	<span><a class="white_a" href="http://shop.mujonyc.com/collections/all" target="_blank">SHOP</a></span>
	<span><%= link_to 'ABOUT', about_index_path, class: "white_a"  %></span>
	<span>
	<div class="white_a show_submenu lookbook_drop_white">LOOKBOOK</span>
		<div class="submenu">
		  <span><%= link_to '002 Core', core_lookbook_index_path, class: "white_a" %></span><br>
		  <span><%= link_to '001 Isan', isan_lookbook_index_path, class: "white_a" %></span><br>
		</div>
	</div>
	<span><%= link_to 'CONTACT', contact_index_path, class: "white_a" %></span><br>
</div>

<div class="shop-page-wrap">
	<div class="date">4.16.16
		<div class="release">2016 Core Collection</div>
		<div class="time">10 AM EST</div>
		<div class="core_coming_soon"><%= link_to 'View Lookbook', core_lookbook_index_path %></div>
	</div>
</div>

<div class="social_icons">
	<a class="social fb_mobile" href="https://www.facebook.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('FBIconWhite.png') %>" height="13" width="13"></a>
    <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('IGIconWhite.png') %>" height="13" width="13"></a>
</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");
fbq('track', 'ViewContent');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->