<%= link_to root_path do %>
<div class="upper_left_icon"></div>
<% end %>

<div class="menu">
	<span><%= link_to 'SHOP', shop_index_path %></span>
	<span><%= link_to 'ABOUT', about_index_path %></span>
	<span><%= link_to 'LOOKBOOK', lookbook_index_path %></span>
  	<span><%= link_to 'CONTACT', contact_index_path %></span>
</div>

<div class="social_icons">
	<a class="social" href="https://www.facebook.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('FBIconWhite.png') %>" height="13" width="13"></a>
    <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('IGIconWhite.png') %>" height="13" width="13"></a>
</div>

<div class="shop-page-wrap">

	<a href="#middle_half" class="scroll">
		<div class="description_container" style="display: none">
			<div class="description_title"></div>
			<div class="description">
				<span class="isan_title">The Isan Beaded Bracelet Collection</span>
				<span class="isan_description">Inspired by family tradition. Designed for our approach to life. 6mm semi-precious gemstones and a single 14K gold filled bead - a reminder to embrace the breaks, gaps, and disruptions in life's path. Handcrafted in Brooklyn, NY, USA.<span>
				<span class="isan_price">Available in Matte Black Onyx and White Howlite, $50.</span>
			</div>
		</div>
	</a>
	
	<a href="#middle_half" class="scroll"><div class="down_arrow" style="display: none"></div></a>

</div>

<div id="middle_half" class="middle-page-wrap">
	<!-- Left and right arrows -->
	<a href="#"><div class="right_arrow" style="display: none"></div></a>
	<a href="#"><div class="left_arrow" style="display: none"></div></a>

	<!-- Indicators -->
    <ol class="navigation">
        <li data="shop_1" class="active"></li>
        <li data="shop_2"></li>
        <li data="shop_3"></li>
        <li data="shop_4"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="shop_1 active" style="background-image: url('/images/shop_gallery/shop_1.jpg')"></div>
    <div class="shop_2" style="background-image: url('/images/shop_gallery/shop_2.jpg')"></div>
    <div class="shop_3" style="background-image: url('/images/shop_gallery/shop_3.jpg')"></div>
    <div class="shop_4" style="background-image: url('/images/shop_gallery/shop_4.jpg')"></div>

	<!-- <a href="#bottom_half" class="scroll"><div class="middle_click_area"></div></a> -->
	<a href="#move_right"><div class="middle_right_area"></div></a>
	<a href="#move_left"><div class="middle_left_area"></div></a>
	<a href="#bottom_half" class="scroll"><div class="down_arrow_2"></div></a>

</div>

<div id="bottom_half" class="form-page-wrap">

	<div class="date">11.13.15
		<div class="release">Coming Soon</div>
		<div class="time">10 AM EST</div>
		<%= form_for(:user, url: user_index_path, html: {:class => 'email_form'}) do |f| %>
			<%= f.text_field :email, placeholder: "your email address", class: 'email_form_test' %>
		<% end %>
		<div class="notify"><%= session[:message] %></div>
		<% session.delete(:message) %>
	</div>

</div>