<div class="lookbook-page-wrap">

	<div class="container">
		<ul class="row">
		    <li class="col-lg-4 col-md-5">
		    	<img class="thumbnail img-responsive" id="image-1" src="<%= image_path('lookbook/CommonProjectsLookbook.jpg') %>"/>
		    </li>
		    <li class="col-lg-4 col-md-5">
		    	<img class="thumbnail img-responsive" id="image-2" src="<%= image_path('lookbook/Jordan11Lookbook2.jpg') %>"/>
		    </li>
		    <li class="col-lg-4 col-md-5">
		    	<img class="thumbnail img-responsive" id="image-3" src="<%= image_path('lookbook/Jordan6Lookbook.jpg') %>"/>
		    </li>
		    <li class="col-lg-4 col-md-5">
		    	<img class="thumbnail img-responsive" id="image-1" src="<%= image_path('lookbook/CommonProjectsLookbook.jpg') %>"/>
		    </li>
		    <li class="col-lg-4 col-md-5">
		    	<img class="thumbnail img-responsive" id="image-2" src="<%= image_path('lookbook/Jordan11Lookbook2.jpg') %>"/>
		    </li>
		    <li class="col-lg-4 col-md-5">
		    	<img class="thumbnail img-responsive" id="image-3" src="<%= image_path('lookbook/Jordan6Lookbook.jpg') %>"/>
		    </li>
		</ul>

		<div class="big_pic" style="display: none">
		</div>

	</div

</div>