<div class="lookbook-page-wrap">
	<div class="lookbook_filter" style="display: none"></div>
	<div class="container">
		<ul class="row">
			<li class="col-lg-4 col-md-4">
				<img class="thumbnail img-responsive" id="image-1" src="<%= image_path('lookbook/CommonProjectsLookbookWhite.jpg') %>"/>
			</li>
			<li class="col-lg-4 col-md-4">
				<img class="thumbnail img-responsive" id="image-2" src="<%= image_path('lookbook/Jordan10Lookbook.jpg') %>"/>
			</li>
			<li class="col-lg-4 col-md-4">
				<img class="thumbnail img-responsive" id="image-3" src="<%= image_path('lookbook/Jordan11Lookbook.jpg') %>"/>
			</li>
			<li class="col-lg-4 col-md-4">
				<img class="thumbnail img-responsive" id="image-4" src="<%= image_path('lookbook/YSLLookbook.jpg') %>"/>
			</li>
			<li class="col-lg-4 col-md-4">
				<img class="thumbnail img-responsive" id="image-5" src="<%= image_path('lookbook/Jordan6Lookbook.jpg') %>"/>
			</li>
		    <li class="col-lg-4 col-md-4">
		    	<img class="thumbnail img-responsive" id="image-6" src="<%= image_path('lookbook/CommonProjectsLookbookBlack.jpg') %>"/>
		    </li>
	</div

</div>

<div class="big_pic" style="display: none">
</div>
