<%= link_to root_path do %>
<div class="upper_left_icon_black"></div>
<% end %>

<div class="menu">
	<span><%= link_to 'SHOP', shop_index_path, class: "black_a"  %></span>
	<span><%= link_to 'ABOUT', about_index_path, class: "black_a"  %></span>
	<span><%= link_to 'LOOKBOOK', lookbook_index_path, class: "black_a"  %></span>
	<span><%= link_to 'CONTACT', contact_index_path, class: "black_a" %></span>
</div>

<div class="social_icons">
	<a class="social" href="https://www.facebook.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('FBIconBlack.png') %>" height="13" width="13"></a>
    <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('IGIconBlack.png') %>" height="13" width="13"></a>
</div>


<div class="lookbook-page-wrap">

	
	<div class="lookbook_pic">
		<div class="lb_left_arrow"></div>
		<div class="lb_right_arrow"></div>
	</div>

</div>