<%= link_to root_path do %>
<div class="upper_left_icon_black"></div>
<% end %>

<div class="menu">
  <span><a class="black_a" href="http://shop.mujonyc.com/collections/all" target="_blank">SHOP</a></span>
  <span><%= link_to 'ABOUT', about_index_path, class: "black_a"  %></span>
  <span>
  <div class="black_a show_submenu">LOOKBOOK</span>
    <div class="submenu">
      <span><%= link_to '2016 Core', core_lookbook_index_path, class: "black_a" %></span><br>
      <span><%= link_to '2015 Isan', isan_lookbook_index_path, class: "black_a" %></span><br>
    </div>
  </div>
  <span><%= link_to 'CONTACT', contact_index_path, class: "black_a" %></span><br>
</div>

<div class="social_icons">
  <a class="social fb_mobile" href="https://www.facebook.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('FBIconBlack.png') %>" height="13" width="13"></a>
    <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('IGIconBlack.png') %>" height="13" width="13"></a>
</div>

<div class="about-page-wrap">

  <div class="mujo_description" style="display: none">
    <div class="mujo_description_title"></div>
  	無常 is the Zen philosophy that nothing is permanent - the notion that life does not move in one continuous flow. To us, it means the freedom to change paths at any moment. In 2015, we left our jobs and moved to New York City. Guided by a need to create what we couldn’t find, we produced a line of accessories - understated pieces inspired by our roots and our new home. Born and crafted in New York, NY, USA.
  </div>

</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->