<div class="menu">
	<span><%= link_to 'SHOP', shop_index_path, class: "black_a" %></span>
	<span><%= link_to 'ABOUT', about_index_path, class: "black_a" %></span>
	<span><%= link_to 'LOOKBOOK', lookbook_index_path, class: "black_a" %></span>
	<span><%= link_to 'CONTACT', contact_index_path, class: "black_a" %></span>
</div>

<div class="social_icons">
  <a class="social" href="https://www.facebook.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('FBIconBlack.png') %>" height="13" width="13"></a>
    <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('IGIconBlack.png') %>" height="13" width="13"></a>
</div>

<div class="contact-page-wrap">

<div class="contact_form_container">
	<span class="contact_us">Contact Us</span>
	<%= form_for(:message, url: contact_index_path, html: {:class => 'contact_body_field'}) do |f| %>
		<%= f.text_field :contact_name, placeholder: "your name", class: 'contact_form_field' %>
		<%= f.text_field :contact_email, placeholder: "your email", class: 'contact_form_field' %>
		<%= f.text_area :message_content, placeholder: "message", class: 'contact_form_field', size: "40x7" %>
		<%= f.submit "send", class: 'contact_form_btn' %>
	<% end %>
	<div class="contact_notify"><%= session[:message] %></div>
	<% session.delete(:message) %>
</div>

<div class="extra">
	<span><%= link_to 'Terms & Privacy', policy_index_path, class: "black_a" %></span>
	<span>|</span>
	<span><%= link_to 'Shipping & Returns', shipping_index_path, class: "black_a" %></span>
</div>

</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->