<%= link_to root_path do %>
<div class="upper_left_icon_black"></div>
<% end %>

<div class="menu">
	<span><a class="black_a" href="http://shop.mujonyc.com" target="_blank">SHOP</a></span>
	<span><%= link_to 'ABOUT', about_index_path, class: "black_a"  %></span>
	<span>
	<div class="black_a show_submenu">LOOKBOOK</span>
		<div class="submenu">
		  <span><%= link_to '2016 Core', core_lookbook_index_path, class: "black_a" %></span><br>
		  <span><%= link_to '2015 Isan', isan_lookbook_index_path, class: "black_a" %></span><br>
		</div>
	</div>
	<span><%= link_to 'CONTACT', contact_index_path, class: "black_a" %></span><br>
</div>

<div class="social_icons">
	<a class="social fb_mobile" href="https://www.facebook.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('FBIconBlack.png') %>" height="13" width="13"></a>
    <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('IGIconBlack.png') %>" height="13" width="13"></a>
</div>


<div class="lookbook-page-wrap">

	
	<div class="lookbook_pic">
		<div class="lb_left_arrow"></div>
		<div class="lb_right_arrow"></div>
		<div class="lookbook_1 lb_active" style="background-image: url('/images/lookbook/100.jpg')"></div>
		<div class="lookbook_2" style="background-image: url('/images/lookbook/101.jpg')"></div>
		<div class="lookbook_3" style="background-image: url('/images/lookbook/102.jpg')"></div>
		<div class="lookbook_4" style="background-image: url('/images/lookbook/103.jpg')"></div>
		<div class="lookbook_5" style="background-image: url('/images/lookbook/104.jpg')"></div>
	</div>

</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->