<!DOCTYPE html>
<html>
<head>
  <title>Mujo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to root_path do %>
<div class="upper_left_icon"></div>
<% end %>

<div class="menu" style="display: none">
	<span><%= link_to 'SHOP', shop_index_path %></span>
	<span><%= link_to 'STORY', about_index_path %></span>
	<span><%= link_to 'A/W15', lookbook_index_path %></span>
</div>

<div class="upper_right_icon"></div>

<div class="social_icons">
	<a class="social" href="https://www.facebook.com/mujonyc" target="_blank"><img src="<%= image_path('facebook-iso-white.png') %>" height="15" width="15"></a>
    <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img src="<%= image_path('instagram-iso-white.png') %>" height="15" width="15"></a>
    <a class="social" href="https://twitter.com/mujonyc" target="_blank"><img src="<%= image_path('twitter-iso-white.png') %>" height="15" width="15"></a>
</div>

</body>
</html>
