<!DOCTYPE html>
<html>
<head>
  <title>MUJO</title>
  <meta name="description" content="MUJO NYC. Minimalist men's and unisex jewelry and accessories. Cuffs, bracelets, and rings handcrafted in Brooklyn, NY, USA from sterling silver and brass. Nothing is Permanent.">
  <meta name="google-site-verification" content="UQcgETUphh8ynvOVHd8hiTkjGgzyddLrVuD86lOr4lw" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
</head>

<body>

  <!-- SALE MODAL -->
  <!-- <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <div class="sale-description">
            <span class='caps_12'>BLACK FRIDAY<br></span>
            <div class="stockist_item_spacing_bottom"></div>
            <span class='caps_12'>20% OFF SITEWIDE<br></span>
            <div class="stockist_item_spacing_bottom"></div>
            <span class='caps_12'>ENTER CODE: BLACK20<br></span>
            <div class="stockist_item_spacing_bottom"></div>
            <button class='caps_12 shop-now'><a id='shop-now-btn' href="https://shop.mujonyc.com/collections/all" target="_blank">SHOP NOW</a><br></button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="social_icons">
    <a class="social fb_mobile" href="https://www.facebook.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('FBIconBlack.png') %>" height="13" width="13"></a>
      <a class="social" href="https://instagram.com/mujonyc" target="_blank"><img class="social_pic" src="<%= image_path('IGIconBlack.png') %>" height="13" width="13"></a>
  </div>

  <div class="menu">
    <span><a class="black_a caps_9" href="https://shop.mujonyc.com/collections/all" target="_blank">SHOP</a></span>
    <span><%= link_to 'ABOUT', about_index_path, class: "black_a caps_9" %></span>
    <span class="dropdown caps_9">
      <a class="dropdown-toggle black_a" data-toggle="dropdown" href="#">LOOKBOOK</a>
      <ul class="dropdown-menu">
        <li><span class="submenu caps_9"><%= link_to 'CORE SUPPLY', core_supply_lookbook_index_path, class: "black_a" %></span></li>
        <li><span class="submenu caps_9"><%= link_to '003 ANNEX', annex_lookbook_index_path, class: "black_a" %></span></li>
        <li><span class="submenu caps_9"><%= link_to 'STUDIO SERIES I', studio_series_index_path, class: "black_a" %></span></li>
      </ul>
    </span>
    <span><%= link_to 'PRESS', press_index_path, class: "black_a caps_9" %></span>
    <span><%= link_to 'STOCKISTS', stockists_path, class: "black_a caps_9" %></span>
    <span><a class="black_a caps_9" href="http://daily.mujonyc.com/" target="_blank">JOURNAL</a></span>
    <span><%= link_to 'CONTACT', contact_index_path, class: "black_a caps_9" %></span><br>
  </div>

<%= yield %>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-67854197-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
